
.app-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}


.sign-in {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


.sign-up {
  /*background-image: url('./images/img-8.jpg');*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.top-pane {
  width: 100%;
}

.console-content {
  width: 100%;
  height: 200px;
  overflow:auto; 
  background-color: black;
  overflow:auto; 
  }

.console-input {
  display: inline-flex;
  width: 100%;  
}

.console-content .stderr {
  color: #e34f69;
  }
    
.console-content .stdout {
  color: #c3e88d;
  }

.console-input{
  color:white;
  background-color: #263238;
}

.code-button-row {
  width: 100%;
  display: 'flex';
  justify-content: space-between;
}

.run-code-button {
  background-color: green;
}

.stop-code-button {
  color: red;
}

.new-help-request{
  background-color: green;
}

.in-progress-help-request{
  background-color: orange;
}

.main-display-area-educator{
  height: 90%;
  flex: content; 
}


.start-next-lesson-img{
  height: 400px;
}

.educator-page-lesson-started{
  margin-top: 20px;
  margin-left: 20px;
  background-color: aliceblue;
  height: 100%; 
  
}

.educator-page-chat-help-toggle{
  border: 1px solid #17a2b8;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.expand-chat-icon-button{
  border: 1px solid #17a2b8;
  border-radius: 5px;
}
